<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geekive.geekiveArchiveStorage.mapper.FileMapper">
	<insert id="insertFile" parameterType="GeekiveMap">
		/* fileMapper.insertFile */
		INSERT INTO `FILE` (
			FILE_UID
			, ORIGINAL_NAME
			, STORED_NAME
			, EXTENSION
			, SIZE
			, ABSOLUTE_PATH
			, URL_PATH
			, REGISTRATION_DATE
			, REGISTRATION_USER
		) VALUES ( 
			#{fileUid}
			, #{originalName}
			, #{storedName}
			, #{extension}
			, ${size}
			, #{absolutePath}
			, #{urlPath}
			, NOW()
			, #{registrationUser}
		)
	</insert>
</mapper>